@using InStaging.MvcApp.Helper

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>InStaging | @ViewBag.Title</title>
    <link href="~/styles/font-awesome.css" rel="stylesheet" />
    <link href="~/styles/bootstrap.css" rel="stylesheet" />
    <link href="~/styles/all.css" rel="stylesheet" />
</head>
<body>

    <div class="layout-container">
        <div class="layout-sidebar">
            <a class="sidebar-logo"><h2 class="text-white text-center text-uppercase">In Staging</h2></a>
            <ul>
                <li class=""><a href="">User Profile</a></li>
            </ul>
            <hr />
            <ul>
                <li class="@RazorHelper.GetActiveString(ViewBag.ActiveNav, "Inbox")"><a href="">Inbox</a></li>
                <li class="@RazorHelper.GetActiveString(ViewBag.ActiveNav, "Tickets")"><a href="@Url.Action("Index", "Ticket")">Tickets</a></li>
                <li class="">
                    <a>Admin</a>
                    <ul>
                        <li class="@RazorHelper.GetActiveString(ViewBag.ActiveNav, "Settings")"><a href="">Settings</a></li>
                        <li class="@RazorHelper.GetActiveString(ViewBag.ActiveNav, "Other Settings")"><a href="">Other Settings</a></li>
                    </ul>
                </li>

            </ul>
            <hr />
            <ul>
                <li><a href="">Log Out</a></li>
            </ul>
        </div>
        <div class="layout-content">
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand">@ViewBag.Title</a>
                @RenderSection("navbar", required: false)
            </nav>
            <div class="p-3">
                @RenderBody()
            </div>

        </div>
        <div class="layout-footer">
            <span>Made In CHAAINAH</span>
        </div>
    </div>

    <script src="~/libraries/jquery/dist/jquery.js"></script>
    <script src="~/libraries/bootstrap/dist/js/bootstrap.js"></script>



    @RenderSection("Scripts", required: false)
</body>
</html>
